<p>{{ 'mailer.common.hello' | t }}</p>

<p>{{ 'mailer.administrator_notifications.integrations_notifications.slack_disconnect.body' | t }}</p>

<p>
{{ 'mailer.administrator_notifications.integrations_notifications.slack_disconnect.click_to_reconnect' | t: 'url', action_url }}
</p>
