<p>{{ 'mailer.common.hi' | t: 'name', user.available_name }},</p>

<p>{{ 'mailer.agent_notifications.assigned_conversation_new_message.body' | t }}</p>

<p>
{{ 'mailer.common.click_here_to_get_cracking' | t: 'url', action_url }}
</p>
