<p>{{ 'mailer.common.hello' | t }}</p>

<p>{{ 'mailer.administrator_notifications.channel_notifications.instagram_disconnect.body' | t }}</p>
<p>{{ 'mailer.administrator_notifications.channel_notifications.instagram_disconnect.action' | t }}</p>

<p>
{{ 'mailer.administrator_notifications.channel_notifications.instagram_disconnect.click_to_reconnect' | t: 'url', action_url }}
</p>
