<p>{{ 'mailer.common.hello_there' | t }}</p>

<p>{{ 'mailer.administrator_notifications.account_notifications.automation_rule_disabled.body' | t: 'rule_name', meta['rule_name'] }}</p>
<p>{{ 'mailer.administrator_notifications.account_notifications.automation_rule_disabled.explanation' | t }}</p>

<p>
{{ 'mailer.administrator_notifications.account_notifications.automation_rule_disabled.action' | t: 'url', action_url }}
</p>
