<p>{{ 'mailer.common.hi_plain' | t }}</p>

<p>{{ 'mailer.administrator_notifications.account_notifications.contact_export_complete.body' | t }}</p>

<p>
{{ 'mailer.administrator_notifications.account_notifications.contact_export_complete.action' | t: 'url', action_url }}
</p>
